:root {
    --white: #fff;
    --active-color: #00aeb0;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: var(--active-color);
    transition: background 0.4s ease;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input[type="range"] {
    height: 5px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
}

.audio-player {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin: auto;
    height: 100%;
    color: var(--white);
    background: #000000;
}

.artwork {
    border-radius: 8px;
    display: block;
    margin: auto;
    height: 480px;
    width: 480px;
}

.track-info {
    text-align: center;
    z-index: 1;
    position: relative;
}
.album-details {
    text-align: left;
}
.title {
    font-weight: 700;
    margin-bottom: 4px;
}

.artist {
    font-size: 16px;
    opacity: 60%;
    margin: 8px 0;
}

.audio-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 32px auto;
}

.audio-controls .prev svg,
.audio-controls .next svg {
    width: 35px;
    height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
    height: 40px;
    width: 40px;
}

.audio-controls path {
    fill: var(--white);
}

.color-backdrop {
    background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.color-backdrop.playing {
    animation: colorChange 20s alternate infinite;
}
.options {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 72px;
}
.prev,
.next {
    opacity: 70%;
}
.prev:hover,
.next:hover {
    opacity: 100%;
}
.play:hover,
.pause:hover,
.volume-section:hover {
    opacity: 80%;
}
.volume-section {
    position: relative;
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 72px;
}
.volume-section img {
    width: 20px;
    height: 18px;
}
.volume-slider {
    height: 150px;
    position: absolute;
    bottom: 60px;
}

input[type="range"] {
    height: 5px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
.music-seeker {
    margin-top: 24px;
}
.music-seeker .ant-slider-handle {
    opacity: 0;
}
.music-seeker .ant-tooltip .ant-tooltip-inner {
    color: transparent;
}
@keyframes colorChange {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
@media screen and (max-width: 1199px) {
    .songs-list-section{
        padding: 0;
    }
    .artwork{
        width: 300px;
        height: 300px;
    }
    .playlist-heading {
        text-align: center;
    }
    .searchInputs .ant-input {
        font-size: 16px;
    }
    .searchInputs .ant-input::placeholder {
        font-size: 16px;
        text-align: center;
    }
    .song-desc h5 {
        font-size: 16px;
    }
    .song-desc p {
        font-size: 12px;
    }
    .song-duration {
        right: 18px;
    }
    .song-duration p {
        font-size: 12px;
    }
}
@media screen and (max-width: 992px) {
    .playlist-heading {
        text-align: center;
    }
    .searchInputs .ant-input {
        font-size: 16px;
    }
    .searchInputs .ant-input::placeholder {
        font-size: 16px;
        text-align: center;
    }
    .song-desc h5 {
        font-size: 16px;
    }
    .song-desc p {
        font-size: 12px;
    }
    .song-duration {
        right: 18px;
    }
    .song-duration p {
        font-size: 12px;
    }
    .audio-player {
        align-items: start;
    }
}
@media screen and (max-width: 768px) {
    .album-details {
        text-align: center;
    }
    .artwork {
        height: 150px;
        width: 150px;
    }
    .audio-controls {
        width: 100%;
    }
    .audio-player {
        align-items: start;
    }
}
