.playlist-section {
    display: flex;
}
.playlist-wrapper {
    display: flex;
}
.playlist-wrapper .playlist-layout .ant-layout-sider {
    padding: 32px;
}
.playlist-wrapper .playlist-layout {
    flex: 0 0 20%;
    width: 20%;
}
.playlist-wrapper .songs-list-layout {
    flex: 0 0 80%;
    width: 80%;
}
.playlist-wrapper .ant-menu-title-content {
    color: #ffffff;
    opacity: 40%;
    font-size: 20px;
}
.playlist-wrapper .ant-menu-item.ant-menu-item-selected {
    background-color: transparent;
}
.playlist-wrapper .ant-menu-item {
    background-color: transparent !important;
}
.playlist-wrapper .ant-menu-item.ant-menu-item-selected:focus-visible {
    outline: none;
}
.playlist-wrapper .ant-menu-item.ant-menu-item-selected .ant-menu-title-content {
    color: #ffffff;
    font-size: 20px;
    opacity: 100%;
    background-color: transparent;
}
.playlist-section {
    background: rgb(14, 10, 3);
}
.playlist-types .ant-tabs-tab .ant-tabs-tab-btn {
    color: #ffffff;
    opacity: 40%;
    font-size: 20px;
}
.profile-img-section {
    position: absolute;
    bottom: 32px;
}
@media screen and (max-width: 1199px) {
    .playlist-wrapper .playlist-layout{
        width: unset;
    }
    .playlist-wrapper .playlist-layout .ant-layout-sider {
        padding: 30px 5px;
    }
    .playlist-wrapper .songs-list-layout{
        flex: 1;
    }
}
@media screen and (max-width: 768px) {
    .playlist-wrapper .playlist-layout {
        flex: 1;
        width: unset;
    }
    .playlist-wrapper .songs-list-layout {
        flex: 0 0 90%;
        width: unset;
    }
}
@media screen and (max-width: 576px) {
    .playlist-section {
        padding: 0;
    }
    .playlist-wrapper .playlist-layout {
        flex: 1;
        width: unset;
    }
    .playlist-wrapper .ant-layout.playlist-layout .ant-layout-sider {
        overflow: unset;
    }
}
